.tile {
    background: #282c34;
    border: 1px solid #61dafb;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 60px;
    color: green;
  }

.border-row {
  border-bottom: 5px solid #61dafb;
}

.border-col {
  border-right: 5px solid #61dafb;
}

.initial {
  color: #fff;
}

.tile:focus {
  outline: none;
}